asn1crypto==0.24.0
beautifulsoup4==4.8.2
certifi==2018.11.29
cffi==1.11.5
cryptography==2.4.2
django-widget-tweaks==1.4.5
idna==2.8
mysql-connector==2.2.9
phonenumbers==8.11.1
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pyOpenSSL==18.0.0
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
pytz==2019.1
requests==2.7.0
ruamel-yaml==0.15.46
six==1.12.0
soupsieve==1.9.5
sqlparse==0.1.16
sw-django-utils==0.0.50
sw-python-utils==0.0.17
urllib3==1.24.1
