{% extends 'pd_backend/base.html' %}
{% block content %}
    {% load djutils %}
  <div class="container">
      <input style="width: 100%; margin-top: 5% " class="btn finder" type="text" placeholder='Введи сюда что-то ...'>
  </div>
  <section class="page-section portfolio" >
    <div class="row">
      <div class="col col-sm-12 col-md-6 col-xl-6">
        <div class="card my-2" style="max-width: 700px;">
          <img class="card-img-top"  src="{{ podcast.0|get_value_from_dict:'url_of_image_of_podcast' }}" alt="Card image">
          <div class="card-body ">
            <h2 class="card-title"> {{ podcast.0|get_value_from_dict:'title_of_podcast' }}</h2>
              <p>{{ podcast.0|get_value_from_dict:'description_of_podcast' }}</p>
          </div>
          <div class="card-footer">
              {% for tag in tags %}
                <a href="{% url "pd_backend:tag_url" tag|get_value_from_dict:'id_of_keyword' %}"> #{{ tag|get_value_from_dict:'title_of_keyword' }}</a>
              {% endfor %}

          </div>
        </div>
      </div>

      <div class="col col-sm-12 col-md-6 col-xl-6 " style="width: 90%">
          {% for s in series %}
          <div class="card my-2">
            <div class="card-body ">
                <a href="{% url 'pd_backend:series_url' s|get_value_from_dict:'id_of_podcast' s|get_value_from_dict:'id_of_item'%}"><h2 class="card-title">{{ s|get_value_from_dict:'title_of_audio' }}</h2></a>
                <p>{{ s|get_value_from_dict:'description_of_audio' }}</p>
            </div>
            <div class="card-footer">
              <p>Продолжительность: {{ s|get_value_from_dict:'duration_of_audio'}}</p>
            </div>
          </div>
          {% endfor %}

      </div>
    </div>
  </section>

{% endblock %}


