<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Название сайта</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>


<body id="page-top">
  <!-- Шапка -->
  <div style='width: 100%; max-height: 100px; '>
    <a href="index.html ">
      <img style='max-height: 100px; max-width: 20%;' src="img/main.jpeg" alt="">
    </a>
     <input style="margin-left: 5%; width: 70%" class="btn finder" type="finder" placeholder='Ищите по более чем 100 000 подкастов'>
  </div>

  <!--  Убрал карусель -->
<!--   <section class="page-section portfolio d-none  d-xl-block d-lg-block">
    <div class="container">
      <div id="carousel" class="carousel slide " data-interval='2000' data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-center" >
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center" >
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center" >
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
              <img style='margin: 3%; width: 200px;' class="img-slider" src="img/portfolio/cabin.png" alt="">
            </div>
          </div>
        </div>


        <a class="carousel-control-prev"  href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only" >Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>
  </section> -->
  
  <!-- Canals Section -->

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<!--   <a href="index.html">
  <div class="home" style=' margin-left: 2%;background-color: #1abc9c; border-radius: 15px; width: 25px; height: 25px'>

  </div> -->
  </a>
  <div class="scroll-to-top position-fixed ">
    <a class="js-scroll-trigger text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
