{% extends 'pd_backend/base.html' %}
{% load static %}
{% load djutils %}

{% if search_data %}
    {% block searchbar %}
      <div class="container">
      <form action="{% url 'pd_backend:index_url' %}" method="post">
          {% csrf_token %}
        <input style="width: 100%; margin-top: 5%" name="search_data" class="btn finder" type="text" value="{{ search_data }}" placeholder='Введи сюда что-то ...'>
      </form>
  </div>
    {% endblock %}
{% endif %}
{% block content %}
  {% if carousel_podcasts and carousel_podcasts_active %}
    <section class="page-section portfolio d-none  d-xl-block d-lg-block">
        <div class="container">
            <div id="carousel" class="carousel slide " data-interval='2000' data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center" >
                        {% for podcast in carousel_podcasts_active %}
                            <a href="{% url 'pd_backend:podcast_url' podcast.0|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 5%; width: 200px;' class="img-slider" src="{{ podcast.0|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                            <a href="{% url 'pd_backend:podcast_url' podcast.1|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 5%; width: 200px;' class="img-slider" src="{{ podcast.1|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                            <a href="{% url 'pd_backend:podcast_url' podcast.2|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 5%; width: 200px;' class="img-slider" src="{{ podcast.2|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% for podcast in carousel_podcasts %}
                <div class="carousel-item">
                  <div class="row justify-content-center" >
                            <a href="{% url 'pd_backend:podcast_url' podcast.0|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 3%; width: 200px;' class="img-slider" src="{{ podcast.0|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                            <a href="{% url 'pd_backend:podcast_url' podcast.1|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 3%; width: 200px;' class="img-slider" src="{{ podcast.1|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                            <a href="{% url 'pd_backend:podcast_url' podcast.2|get_value_from_dict:'id_podcast' %}">
                               <img style='margin: 3%; width: 200px;' class="img-slider" src="{{ podcast.2|get_value_from_dict:'url_image_podcast' }}" alt=" {% static "img/portfolio/cabin.png" %}">
                            </a>
                  </div>
                </div>
                {% endfor %}
                <!-- Элементы управления -->
                <a class="carousel-control-prev"  href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                  <span class="sr-only" >Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Следующий</span>
                </a>
              </div>
            </div>
        </div>
    </section>

  {% endif %}
  <!-- Canals Section -->

     {% if main_podcast == 'NotFoundCat' %}
         <br>
        <h2 align="center" style="color: grey">Извините, по этому тэгу больше нет подкастов :(</h2>
    {% else %}
                  <section class="page-section portfolio " id="portfolio">
                      <div class="container infinite-container">

                        <div class="row infinite-item">
                              {% for podcast in main_podcast %}
                                <div class="col-6 col-md-6 col-xl-3 col-lg-4">
                                      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                          <a href="{% url 'pd_backend:podcast_url' podcast|get_value_from_dict:'id_podcast' %}">
                                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                              <div class="portfolio-item-caption-content text-center text-white">
                                                <p > {{ podcast|get_value_from_dict:'title_podcast' }}</p>
                                              </div>
                                            </div>
                                          </a>
                                          <img class="img-fluid" src="{{ podcast|get_value_from_dict:'url_image_podcast' }}" alt="">
                                          {% if not carousel_podcasts  %}
                                          <div class="card-footer">
                                          {% if search_data|lower in podcast|get_value_from_dict:'title_podcast'|lower%}
                                              название
                                              {% elif search_data|lower in podcast|get_value_from_dict:'description_podcast'|lower %}
                                              описание
                                              {% elif search_data|lower in podcast|get_value_from_dict:'author_podcast'|lower %}
                                              автор
                                              {% endif %}
                                             </div>
                                          {% endif %}
                                          </div>



                                  </div>
                              {% endfor %}
                        </div>
                        </div>
                  </section>



    {% endif %}
      {% if main_podcast.has_next %}
             <a class="infinite-more-link" href="?page={{ main_podcast.next_page_number }}">More</a>
        {% endif %}
      <div class="loading" style="display: none;">
    Loading...
  </div>





{% endblock %}
