{% extends 'pd_backend/base.html' %}

{% load djutils %}
{% block title %}
    <title>
       {{ series.0|get_value_from_dict:'title_audio' }} - {{ podcast_title }} - {{ podcast_author }}
    </title>
{% endblock %}

{% block description %}
             <meta name="description" content="Online каталог подкастов на русском tgpodcasts: слушать подкаст {{ podcast_title }} ">

{% endblock %}

{% block content %}

  <section class="page-section portfolio" >
    <!-- НАЧАЛО НАВИГАЦИИ-->
    <div style='width: 100%;' class="row justify-content-center">
      <nav style='width: 80%;' aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url "pd_backend:index_url" %}">Главная</a></li>
            {% if podcast_categories|length > 0 %}
                <li class="breadcrumb-item active"><a href="{% url 'pd_backend:cat_url' podcast_categories.0|get_value_from_dict:'id_category' %}">{{ podcast_categories.0|get_value_from_dict:'title_category' }}</a></li>
            {% endif %}
          <!-- По нажатию на название, выводит все подкасты с категорией ( если их несколько, то берется первая категория) -->
          <li class="breadcrumb-item"><a href="{% url "pd_backend:podcast_url" series.0|get_value_from_dict:'id_podcast' %}">{{ podcast_title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{series.0|get_value_from_dict:'title_audio'}}</li>
        </ol>
      </nav>
    </div>
    <!-- КОНЕЦ НАФИГАЦИИ -->
    <div style='width: 100%;' class="row justify-content-center">
        <div class="card my-2" style="width: 80%">
          <div class="card-body ">
            <h2 class="card-title">{{ series.0|get_value_from_dict:'title_audio' }} </h2>
                        <h5 style='color: #1abc9c' class="card-title text-left">{{podcast_author}} </h5>

            <audio controls style="width: 100%;">
              <source src="audio/music.ogg" type="audio/ogg; codecs=vorbis">
              <source src="{{ series.0|get_value_from_dict:'audio'}}" type="audio/mpeg">
              Тег audio не поддерживается вашим браузером. 
              <!--<a href="audio/music.mp3">Скачайте выпуск</a>. -->
            </audio>
          </div>
          <div class="card-footer">
              {% if series.0|get_value_from_dict:'description_audio'|linebreaks %}
                 <p>{{ series.0|get_value_from_dict:'description_audio'|linebreaks  }}</p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}